<div class='popup' id='popup'>
	<div class='popup_info'>
		<%=link_to_function(nil, nil, :class=>'close') do |page|	  
			page.visual_effect :fade, "new_membership", :duration => 0.5
		  end %>
		
		<div class='popup_title'>Nueva Membres&iacute;a</div>
		
		<%=form_for @membership, :html => { :multipart => true } do |f| %>  
			<% if @membership.errors.any? %>
				<div id="error_explanation">
					<h2><%= pluralize(@membership.errors.count, "error") %> prohibited this membership from being saved:</h2>
					<ul>
						<% @membership.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
					</ul>
				</div>
			<% end %>
			<%= render 'form', :f => f %>

		<div class='two_column'>
			<div class='left'>
				<%=link_to_function(image_tag('cancelar.png'), nil, :class=>'left_button') do |page|	  
					page.visual_effect :fade, "new_membership", :duration => 0.5
				  end %>
			</div>
			<div class='right'>
				<%= image_submit_tag 'guardar.png', :class => 'right_button' %>
			</div>
		</div>
		
		<div class='clear'></div>
		<% end %>


	</div>
</div>

<%=draggable_element("popup", :revert => false) %>