<div class='top_bar'><span class="list_title">Listado de membres&iacute;as</span></div>
<div class="table_container"><!-- si anado aqui la clase member_table_width tengo que anadirla arriba tambien, para width-->
	<table class='list_table'>
		<tr>
			<th class='sortable'>Membres&iacute;a</th>
			<th class='sortable'>Nombre</th>
			<th class='sortable'>Corte</th>
			<th class='sortable'>Meses Pendientes</th>
			<th class='sortable'>Tarifa</th>
			<th>&nbsp;</th>
	  	</tr>

	<% @memberships.each do |membership| %>
	  	<tr class="<%= cycle("even", "odd") %>">
			<td><%=membership.id%> </td>
			<td class='capitalize_me'><%=membership.member.name+' '+membership.member.last_name%></td>
			<td><%=membership.pay_day%></td>
			<td><%=membership.pending_months.size%></td>
			<td>la tarifa</td>
			<td><%=actions_menu(membership)%></td>

	  	</tr>
	<% end %>
	</table>
	<div class='list_footer'>
		<%= new_button('Nueva Membres&iacute;a') %>
	</div><!--termina list footer-->
</div><!--termina list container -->

<div id="show_membership" style='display:none;' class='on_top' >
</div>
<div id="new_membership" style='display:none;' class='on_top' >
</div>
<div id="edit_membership" style='display:none;' class='on_top' >
</div>



