<div id='login_container'>
	<div id='login_form'>
		<%= form_tag url_for( :controller => 'sessions', :action => 'authenticate' ), { :method => 'post'} do-%>
		<table>
			<tr>
				<td align='right'><%= label_tag 'Usuario' %></td>
				<td><%= text_field_tag 'username', @login %></td>
			</tr>
			<tr>
				<td align='right'><%= label_tag 'Password' %></td>
				<td><%= password_field_tag 'password', nil %></td>
			</tr>
			<tr>
				<td colspan='2' align='right'><%= submit_tag 'Iniciar sesi&oacute;n' , :class=>'login_button'%></td>
			</tr>
		</table>
		<% end -%>
	</div>
</div>