<tr class="<%= session[:even_or_odd] %>">
	<td><b><%=attendance.created_at.strftime("%H:%M")%></b></td>
	<td><%=attendance.member.membership.id%></td>
	<td class='capitalize_me'><%=attendance.member.name+' '+attendance.member.last_name%></td>
	<td><%=attendance.member.membership.pay_day%></td>
	<td><%=attendance.member.membership.pending_months%></td>
	<td><%= link_to 'Pagar', attendance, :class=>'link'  %></td><!-- poner el icono para pagar -->
	<td><%= link_to_remote 'Mostrar', :url=>attendance, :method=>:get, :html=>{:class=>'link to_show'} %></td>
	<td><%= link_to 'Eliminar', attendance, :class=>'link to_destroy', :confirm => 'Está seguro?', :method => :delete  %></td>
</tr>