<td sytle="border:none !important" vertical-align='top'>
	<div style='margin-top:0;'>
		<div id='membership_container' style=' border:2px solid #333; margin-top:10px; display:inline-block; padding:2px; position:relative '>
			<div class='vertical-text'>
				<%=image_tag 'barcode.png', :size=>'24x24', :class=>'middle_image' %>
				<%=@mem.membership.id %>
			</div>
			<div style="margin-left:24px; height:100px; ">
				<%= image_tag @mem.photo.url(:small) %> 
			</div>
		</div>
	</div>
</td>
<td>
	<div style=' margin:10px; 6px; 10px; 0'>
		<div style="color:#0072bc; font-size:1.5em; font-weight:bold; width:100%; text-align:center; border-bottom:1px solid #666; padding-bottom:2px; margin-bottom:4px;"><%=@mem.name %> <%=@mem.last_name %></div>
		<div style="float:right; display:inline-height; "><%=image_tag('right.png', :border=>0, :class=>'add_button')%></div>
		<div><%= @mem.email%></div>
		<div><%=@mem.membership.rate.name%></div>
		<div><%=@mem.membership.pending_months%> </div>
		<div><%=@mem.membership.pay_day %></div>
		<div><%=link_to "Historial "+ image_tag('forward.png'), {:action=>'today'}, :class=>'button_link rounded_corners'%></div>
		<div class='clear'></div>
	</div>
</td>