<%session[:even_or_odd]='odd'%>
<table width=100% cellspacing=7>
	<tr>
		<td>
			<div class='top_bar'><span class="list_title">Asistencia de Hoy</span></div>
			<div class="table_container"  >
				<table class='list_table' >
					<tr>
						<th class='sortable'>Membres&iacute;a</th>
						<th class='sortable'>Nombre</th>
						<th class='sortable'>Hora</th>
						<th colspan='3'>Acciones</th>
				  	</tr>
					<tr id='empty_row' style='height:0px'></tr>
				<% @attendances.each do |attendance| %>
				  	<tr class="<%= cycle("even", "odd") %>">
						<td><%=attendance.member.membership.id%></td>
						<td class='capitalize_me'><%=attendance.member.name+' '+attendance.member.last_name%></td>
						<td><%=attendance.created_at.strftime("%H:%M")%></td>
				    	<td><%= link_to_remote 'Mostrar', :url=>attendance, :method=>:get, :html=>{:class=>'link to_show'} %></td>
				    	<td><%= link_to 'Eliminar', attendance, :class=>'link to_destroy', :confirm => 'Está seguro?', :method => :delete  %></td>
				  	</tr>
				<% end %>
				</table>
				<div class='list_footer'>

				</div><!--termina list footer-->
			</div><!--termina list container -->
		</td>
		<td width='350px' valign='top'>

				<div class='top_bar'><span class="list_title">Agregar miembro</span></div>
				<div class="table_container" style='padding:10px' >
					<% form_remote_tag :url => {:controller => 'attendances', :action => 'create'},
					:html => {:action => {:controller => 'attendances', :action => 'create'}} do %>
					<%= text_field_tag :membership, nil, :size=>'10'%> <%= submit_tag 'Aceptar' -%>
					<% end %>
				</div>

			
				<div class='top_bar' style='margin-top:20px'><span class="list_title">Buscar miembro</span></div>
				<div class="table_container" style='padding:10px' >
					<% form_remote_tag :url => {:controller => 'attendances', :action => 'create'},
					:html => {:action => {:controller => 'attendances', :action => 'create'}} do %>
					<%= text_field_tag :membership, nil, :size=>'10'%> <%= submit_tag 'Aceptar' -%>
					<% end %>
				<div>

			
		</td>
	</tr>
</table>


<div id="show_attendance" style='display:none;' class='on_top' >
</div>
<div id="new_attendance" style='display:none;' class='on_top' >
</div>
<div id="edit_attendance" style='display:none;' class='on_top' >
</div>


