<%session[:even_or_odd]='odd'%>
<table width=100% cellspacing=7>
	<tr>
		<td>
			<div class='top_bar'><span class="list_title"><%=l Date.today, :format=>:long %></span></div>
			<div class="table_container"  >
				<table class='list_table' >
					<tr>
						<th class='sortable'>Membres&iacute;a</th>
						<th class='sortable'>Nombre</th>
						<th class='sortable'>Hora</th>
						<th colspan='3'>Acciones</th>
				  	</tr>
					<tr id='empty_row' style='height:0px'></tr>
				<% @attendances.each do |attendance| %>
				  	<tr class="<%= cycle("even", "odd") %>">
						<td><%=attendance.member.membership.id%></td>
						<td class='capitalize_me'><%=attendance.member.name+' '+attendance.member.last_name%></td>
						<td><%=attendance.created_at.strftime("%H:%M")%></td>
				    	<td><%= link_to 'Mostrar', :url=>attendance, {:class=>'link to_show'}, {:method=>:get, :remote=>true} %></td>
				    	<td><%= link_to 'Eliminar', attendance, :class=>'link to_destroy', :confirm => 'Está seguro?', :method => :delete  %></td>
				  	</tr>
				<% end %>
				</table>
				<div class='list_footer'>

				</div><!--termina list footer-->
			</div><!--termina list container -->
		</td>
		<td width='300px' valign='top'>

				<div class='top_bar'><span class="list_title">Agregar miembro</span></div>
				<div class="table_container" style='padding:10px' >
					<% form_tag :url => {:controller => 'attendances', :action => 'create'},
					:html => {:action => {:controller => 'attendances', :action => 'create'}, :id=>'add_member'}, :remote=>true do %>
					<%= text_field_tag :membership, nil, :size=>'10'%> <%= submit_tag 'Aceptar' -%>
					<% end %>
				</div>

			
				<div class='top_bar' style='margin-top:20px'><span class="list_title">Buscar miembro</span></div>
				<div class="table_container" style='padding:10px' >
					<% form_remote_tag :url => {:controller => 'attendances', :action => 'search_member'},
					:html => {:action => {:controller => 'attendances', :action => 'search_member'}, :id=>'search_member'}, :remote=>true do %>
					<table align='center'>
						<tr>
							<th>Nombre</th>
							<td><%= text_field_tag :name, nil, :size=>'20'%></td>
						</tr>
						<tr>
							<th>Apellido</th>
							<td><%= text_field_tag :last_name, nil, :size=>'20'%></td>
						</tr>
						<tr>
							<td colspan=2 align='right'><%= submit_tag 'Aceptar' -%></td>
						</tr>
					</table>
					<%end%>
				<div>

			
		</td>
	</tr>
</table>


<div id="results" style='display:none;' class='on_top' >
</div>
<div id="new_attendance" style='display:none;' class='on_top' >
</div>
<div id="edit_attendance" style='display:none;' class='on_top' >
</div>
<div id="jimmy" style='display:none;' class='on_top'></div>



