<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
	  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	  <title>Gym Manager: <%= controller.action_name %></title>
	  <%= stylesheet_link_tag 'generic', 'specific' %>
	  <%= javascript_include_tag :defaults %>
	</head>
	<body>
		<div id='stripe'></div>
		<div id='wrapper'>
			<div id='header'>
				<%=image_tag ('logo_300.png')%>
				<div id='menu_box'>
					<a href=<%=members_path%> class='menu_link' ><%=image_tag 'house.png'%>Dashboard</a>
					<a href=<%=members_path%> class='menu_link' ><%=image_tag 'list.png'%>Lista</a>
					<a href=<%=members_path%> class='menu_link' ><%=image_tag 'group.png'%>Miembros</a>
					<a href=<%=members_path%> class='menu_link' ><%=image_tag 'money.png'%>Pagos</a>
					<a href=<%=members_path%> class='menu_link' ><%=image_tag 'routines.png'%>Rutinas</a>
					<a href=<%=members_path%> class='menu_link' ><%=image_tag 'ejercicios.png'%>Ejercicios</a>
					<a href=<%=members_path%> class='menu_link' ><%=image_tag 'door_out.png'%>Logout</a>
				</div>
			</div><!--termina el header-->

			<div id='content'>
				<% if flash[:notice] then %><div id="flash_notice"><%= flash[:notice] %></div><% end %>
				<script type="text/javascript">
				  <%= visual_effect(:fade, "flash_notice", :duration => 5)%>
				</script>

				<% if flash[:error] then %><div id="flash_error"><%= flash[:error] %></div><% end %>
				<script type="text/javascript">
				  <%= visual_effect(:highlight, "flash_error", :duration => 10)%>
				</script>    
				<%= yield %>
			</div>
		</div><!--termina el wrapper-->
	</body>
</html>
