<div id='popup'>
	<div id='popup_info'>
		<%=link_to_function(nil, nil, :class=>'close') do |page|	  
			page.visual_effect :fade, "show_member", :duration => 0.5
		  end %>
		<table class='profile_card' width="100%">
			<tr>
				<th rowspan=5><%= image_tag @member.photo.url(:small) %>  </th>
				<td><span class='card_name'><%=@member.name%> <%=@member.last_name%></span></td>
			</tr>
			<tr>
				<td><span class='card_number'><%=@member.member_number%></span></td>
			</tr>
			<tr>
				<td><span class='card_phone'><%=@member.phone%></span></td>
			</tr>
			<tr>
				<td><span class='card_email'><%=@member.email%></span></td>
			</tr>
			<tr>
				<td><span class='card_address'><%=@member.address%></span></td>	
			</tr>
			<tr>
				<td colspan=2>
				<%=link_to_function('cerrar', nil, :class=>'big_close') do |page|	  
					page.visual_effect :fade, "show_member", :duration => 0.5
				  end %>
				</td>
			</tr>
		</table>

	</div>
</div>